{% extends 'base.html' %}
{% load tea_detail %}

{% block content %}
    <h1>Nazwa: {{ tea.name }}</h1>
    <p>Rodzaj: {{ tea.type }}</p>
    <p>Opis: {{ tea.description }}</p>
    <p>Region: {{ tea.region }}</p>
    <p>Recenzje:</p>
    {% if tea.review_set.count %}
        {% show_tea_reviews tea %}
    {% else %}
        <p>Brak recenzji dla tej herbaty.</p>
    {% endif %}
    <p>Dodaj recenzję</p>
    {% show_create_review_form tea.id %}
    <a href="{% url 'index' %}">Powrót</a>
{% endblock %}